/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    /* font-weight: 100;
    font-style: normal; */
  }

.btn-primary {

    background: #6e2cf3 !important;
    border-color: #6e2cf3 !important;
}
.text-primary {
    color: #6e2cf3 !important;
}
.form-control:focus {

    border-color: #6e2cf3;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(110, 44, 243, .25);
}

.form-check-input:checked {

    background-color: #6e2cf3;
    border-color: #6e2cf3;
}

.form-check-input:focus {
    border-color: rgb(110, 44, 243);
    box-shadow: 0 0 0 .25rem rgba(110, 44, 243, .25);
}